<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.it.saan.member.model.MemberDao">
	<insert id="createOne" parameterType="org.it.saan.member.model.MemberDto">
		insert into member
		values(#{id}, #{pass}, #{name }, #{gender}, #{email}, #{address} )
	</insert>
	<select id="readOne" parameterType="java.lang.String"
		resultType="org.it.saan.member.model.MemberDto">
		select * from member where id=#{id}
	</select>
</mapper>